
.login-header-registration 
  .login-header-registration__index 
    %b
      会員情報入力
  .login-header-registration__form  
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .login-header-registration__form-content
    .form-group
      = f.label 'ニックネーム',class:'login-header-registration__label'
      = f.label 'メールアドレス',class: 'login-header-registration__label'
      %span.login-header-registration__form--must 必須
      %br
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例)メルカリ太郎"
    .form-group 
      = f.label 'メールアドレス',class: 'login-header-registration__label'
      %span.login-header-registration__form--must 必須
      %br/
      = f.email_field :email, placeholder: 'PC・携帯どちらでも可',class: 'input-default',required: true
    .form-group
      = f.label 'パスワード' ,class: 'login-header-registration__label'
      %span.login-header-registration__form--must 必須
      %br/
      = f.password_field :password, placeholder: '7文字以上',class: 'input-default',required: true
    .form-group 
      = f.label 'パスワード確認', class: 'login-header-registration__label' 
      %span.login-header-registration__form--must 必須
      %br/
      = f.password_field :encrypted_password, placeholder: '7文字以上',class: 'input-default',required: true
    %p.userloginform-into__sub-head
      %b
        本人確認
      .userloginform-into__sub-head__text
      安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません
    .form-group 
      = f.label 'お名前(全角)' ,class: 'login-header-registration__label' 
      %span.login-header-registration__form--must 必須
      %br/
      .form-group-double
        = f.text_field :name, placeholder: '例）野比',class: 'input-default-half',required: true
        = f.text_field :name, placeholder: '例) のび太',class: 'input-default-half',required: true
    .form-group 
      = f.label 'お名前カナ(全角)' ,class: 'login-header-registration__label' 
      %span.login-header-registration__form--must 必須
      %br/
      .form-group-double
        = f.text_field :name, placeholder: '例）ノビ',class: 'input-default-half',required: true
        = f.text_field :name, placeholder: '例) ノビタ',class: 'input-default-half',required: true
   
    .form-group
      = f.label :tel,'電話番号'
      %span.login-header-registration__form--must 必須
      %br/
      = f.text_field :name, required: true
    %p.userloginform-into
      ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

    .form-group
      =f.label :sex,'性別'
      .field-input
        = f.radio_button :sex, "men"
        男
      .field-input
        = f.radio_button :sex, "female"
        女
  
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
