%h2.head__registration 会員情報入力
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .content__nickname
    = f.label :nickname, 'ニックネーム'
    %span.content_require 必須
    %br
    = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例)メルカリ太郎"
  
  .field
  .field-label
    = f.label :first_name, '苗字'
  .field-input
    = f.text_field :name, autofocus: true

  .field
  .field-label
    = f.label :last_name, '名前'
  .field-input
    = f.text_field :name, autofocus: true
  .field
  .field-label
    = f.label :first_name_kana, '苗字（かな）'
  .field-input
    = f.text_field :name, autofocus: true
  .field
  .field-label
    = f.label :last_name_kana, '名前（かな）'
  .field-input
    = f.text_field :name  , autofocus: true
  .form-group
    = f.label :name,'電話番号'
    %span.login-header-registration__form--must 必須
    %br/
    = f.text_field :name, autofocus: true

  .field
  .field-label
    =f.label:sex,'性別'
    .field-input
      = f.radio_button :sex, "男"
      男
    .field-input
      = f.radio_button :sex, "女"
      女

  .field
    = f.label :email , 'メールアドレス'
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password ,'パスワード'
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
