.footer
  .footer__top
    .footer__top__box
      .footer__top__box__text
        だれでもかんたん、人生を変えるフリマアプリ
        %p 今すぐ無料ダウンロード！
      .footer__top__box__item
        = link_to root_path do
          .footer__top__box__item__left
        = link_to root_path do
          .footer__top__box__item__right
  .footer__bottom
    .footer__bottom__menu
      .footer__bottom__menu__inner
        .footer__bottom__menu__inner__title FURIMAについて
        .footer__bottom__menu__inner__item
          = link_to root_path do
            会社概要（運営会社）
          = link_to root_path do
            プライバシーポリシー
          = link_to root_path do
            FURIMA利用規約
          = link_to root_path do
            ポイントに関する特約
      .footer__bottom__menu__inner
        .footer__bottom__menu__inner__title FURIMAを見る
        .footer__bottom__menu__inner__item
          = link_to root_path do
            カテゴリー一覧
          = link_to root_path do
            %p ブランド一覧
          = link_to root_path do
            .icon
          %p © FURIMA
      .footer__bottom__menu__inner
        .footer__bottom__menu__inner__title ヘルプ&ガイド
        .footer__bottom__menu__inner__item
          = link_to root_path do
            FURIMAガイド
          = link_to root_path do
            FURIMAロゴ利用ガイドライン
          = link_to root_path do
            お知らせ