%body 
  %header.pcheader
    .headerinner
      .mainheader
        %h1.icon
          = link_to root_path do
            = image_tag "/logo.png", class: 'logo-img'
        .searchbox
          = form_with url:  search_products_path , method: :get, local: true do |f|
            = f.label :search
            = f.text_field :search,  class: 'input',placeholder: "キーワードから探す"
            %button{type: "submit"}
              =image_tag "/icon-search 1.png", class: 'search-img', name: nil

      .nav
        %ul.leftlist
          .leftlist__category
            カテゴリー
          .leftlist__brand
            ブランド
          .leftlist__index
            =link_to products_path data: {"turbolinks" => false} do
              商品一覧
            %ul.brand
        %ul.rightlist
          - if user_signed_in?
            %li.rightlist__logout
              = link_to "マイページ", user_path(current_user.id),class: 'rightlist__logout__btn'
            %li.rightlist__logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'rightlist__logout__btn'
              
          - else
            %li.rightlist__login
              = link_to new_user_session_path do
                ログイン
            %li.rightlist__new
              = link_to new_user_registration_path do
                新規会員登録  
