.body
  - breadcrumb :mypage
  = breadcrumbs separator: " &rsaquo; "
  = render 'header'
  .user-wrapper
    .side
      %ul
        %li 
          .side-post
            =link_to  new_product_path do
              出品する
            = icon 'fa', 'angle-right'
        %li
          .side-index
            =link_to user_path(current_user.id) do
              出品した商品
            = icon 'fa', 'angle-right'
        %li 
          .side-buy
            =link_to '#' do
              購入した商品
            = icon 'fa', 'angle-right'
        %li 
          .side-like
            =link_to userlike_path(@user) do
              いいね！した商品
            = icon 'fa', 'angle-right'
        %li 
          .content-card
            =link_to  new_card_path, data: {"turbolinks" => false}do
              クレジットカード登録
            = icon 'fa', 'angle-right'
        %li 
          .content-card
            =link_to delete_card_index_path do
              クレジットカード削除
            = icon 'fa', 'angle-right'
        %li 
          .side-guide
            =link_to '#' do
              ガイド
            = icon 'fa', 'angle-right'
        %li 
          .side-q
          =link_to '#' do
            お問い合わせ
          = icon 'fa', 'angle-right'
    .main
      .main__user-name
        = current_user.nickname
      .main__title
        いいね!した商品
      .main__products
        - @likes.each do |like|
          = link_to product_path(like.product.id),class:"view__box" do
            .view__box-hi
              = image_tag like.product.item_images[0].src.url,class:"view-image"
              .view__box-hi-price
                %span ¥
                =like.product.price
            .view__box-row
              .view__box-row-item_name
                = like.product.item_name
= render 'footer'