.body
  = render 'header'
  .wrapper
    .side
      .side__exhibition
        =link_to  new_product_path do
          出品する
        = icon 'fa', 'angle-right',class: "icon"
      .side__my-exhibition
        =link_to '#' do
          出品した商品
        = icon 'fa', 'angle-right',class: "icon"
      .side__buy-product
        =link_to '#' do
          購入した商品
        = icon 'fa', 'angle-right',class: "icon"
      .content__card-new
        =link_to  new_card_path do
          クレジットカード登録
        = icon 'fa', 'angle-right',class: "icon"
      .content__card-delete
        =link_to  card_index_path do
          クレジットカード削除
        = icon 'fa', 'angle-right',class: "icon"
      .side__guid
        =link_to '#' do
          ガイド
        = icon 'fa', 'angle-right',class: "icon"
      .side__q
        =link_to '#' do
          お問い合わせ
        = icon 'fa', 'angle-right',class: "icon"
    .main
      .main__profile
        = current_user.nickname
= render 'footer'
