%body
  %header.pcheader
    .headerinner
      .mainheader
        %h1.icon
          = link_to root_path do
            = image_tag "/logo.png", class: 'logo-img'
        .searchbox
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchinput.searchbox--input{name: "key", placeholder: "キーワードから探す"}/
            %form.button_to{action: "/?type=submit",method: ""}
              %button{type: "submit"}
                .searchbox__icon
                  =image_tag "/icon-search 1.png", class: 'search-img'
      .nav
        %ul.leftlist
          %li.leftlist__category
            カテゴリー
            %ul.categoryTree
              %li.categoryTree__item
                = link_to "#" do
                  レディース
              %li.categoryTree__item
                = link_to "#" do
                  メンズ
              %li.categoryTree__item
                = link_to "#" do
                  ベビー・キッズ
              %li.categoryTree__item
                = link_to "#" do
                  インテリア・住まい・小物
              %li.categoryTree__item
                = link_to "#" do
                  本・音楽・ゲーム
              %li.categoryTree__item
                = link_to "#" do
                  おもちゃ・ホビー・グッズ
              %li.categoryTree__item
                = link_to "#" do
                  コスメ・香水・美容
              %li.categoryTree__item
                = link_to "#" do
                  家電・スマホ・カメラ
              %li.categoryTree__item
                = link_to "#" do
                  スポーツ・レジャー
              %li.categoryTree__item
                = link_to "#" do
                  ハンドメイド
              %li.categoryTree__item
                = link_to "#" do
                  チケット
              %li.categoryTree__item
                = link_to "#" do
                  自動車・オートバイ
              %li.categoryTree__item
                = link_to "#" do
                  その他
          %li.leftlist__brand
            ブランド
            %ul.brand
        %ul.rightlist
          - if user_signed_in?
            %li.rightlist__logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'rightlist__logout__btn'
          - else
            %li.rightlist__login
              = link_to new_user_session_path do
                ログイン
            %li.rightlist__new
              = link_to new_user_registration_path do
                新規会員登録
