%body
  %header.pcheader
    .headerinner
      .mainheader
        %h1.icon
          = link_to root_path do
            = image_tag "/logo.png", class: 'logo-img'
        .searchbox
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchinput.searchbox--input{name: "key", id:'keyword',placeholder: "キーワードから探す"}/
            %form.button_to{action: "/?type=submit",method: ""}
              %button{id:'submit',type: "submit"}
                .searchbox__icon
                  =image_tag "/icon-search 1.png", class: 'search-img'
                  
        %ul.resultLists
      .nav
        %ul.leftlist
          %li.leftlist__category
            #catbtn
            カテゴリー
          %li.leftlist__brand
            #brandbtn
            ブランド
          %li.leftlist__category
            =link_to products_path do
              商品一覧
            %ul.brand
        %ul.rightlist
          - if user_signed_in?
            %li.rightlist__logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'rightlist__logout__btn'
              = link_to user_path(current_user.id) do
                .rightlist__logout__btn マイページ
          - else
            %li.rightlist__login
              = link_to new_user_session_path do
                ログイン
            %li.rightlist__new
              = link_to new_user_registration_path do
                新規会員登録
