.wrraper
  .header
    = link_to '#' do
      = image_tag '/logo.png', alt: 'アイコンが表示されます', height: '60px', width: '180px', class: 'img'
  .main
    .contents
      %h2 購入内容の確認
      .item_image
        = image_tag '/icon-04.png', alt: '', height: '140px', width:'240px'
      .small_content
        .pay_price 
          %p 支払い金額
          %span ¥ 99,999

        .pay_way
          %p 支払い方法
          .whichway 
            = link_to '#' do
              %i{class:'fas fa-plus-circle'}
              登録してください
        .ship
          .ship__way 
            %p 発送先
            .change
              = link_to '#' do
                変更する
          .ship__area
            kyotokkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
          .user_id
            susukikkkkkkkkkkkkkkkkkkkkkkk
          .ship__method
            hhhhhhhhhhhh
          .ship__data
            hhhhhhhhhhhhhh
  .footer