= render 'posts/header'
.products__view
  - @products.each do |product|
    = link_to "/products/#{product.id}",class:"view__box" do
      .view__box-hi
        .view__box-hi-price
          %span 
          = product.price
      .view__box-row
        .view__box-row-item_name
          = product.item_name
        -# .view__box-hi-image
        -#   = link_to image_tag(product.image.url),"/products/#{product.id}", method: :get
        -#  がぞうを表示させる時に使用
            -# .view__box-row-good
            -#   = product.good  良いね機能用
.pagenate
  .pagenate-text
    = paginate(@products)
= render 'posts/footer'
