= render 'users/header'
.products__view
  - @products.each do |product|
    = link_to product_path(product.id),class:"view__box" do
      .view__box-src
        = image_tag product.item_images
      .view__box-hi
        .view__box-hi-price
          %span ¥
          = product.price
      .view__box-row
        .view__box-row-item_name
          = product.item_name
            -# .view__box-row-good
            -#   = product.good  良いね機能用
.pagenate
  .pagenate-text
    = paginate(@products)
= render 'users/footer'