= render'users/header'

.wrapper
  .content
    .content__name 
      =@product.item_name
    - if user_signed_in? && current_user.id == @product.user_id
      .button-box
        -# =link_to edit_product_path(@product.id) do
        = link_to "#" do
          %i{class:'fas fa-edit'}
        =link_to product_path(@product.id),method: :delete  do
          %i{class:'fas fa-trash-alt'}
    - else 
      .button-box
    .content__image
      = image_tag @product.item_images[0].src.url ,class:"img-view"
        -if @product.buyer_id.present? 
        .content__image__sold
          .content__image__sold-inner
            SOLD OUT
    .content__small-images
      - @product.item_images.each do |img| 
        = image_tag img.src.url,class:"img-list"
    .content__price
      %span ¥
      = @product.price
      %span (税込)
    .content__price-ditail
      %span 送料込み
    .content__dtail
      %span 出品者のコメント:
      = @product.detail
    .content__info
      .content__info__left
        %li 出品者
        %li カテゴリー
        %li 商品の状態
        %li 発送料の負担
        %li 発送元地域
        %li 発送日の目安
      .content__info__right
        %li= @product.user.nickname
        %li= @product.category
        %li= @product.item_status
        %li= @product.postage_cost
        %li= @product.ship_area
        %li= @product.ship_date
    -if @product.buyer_id.present? 
      .soldout
        売り切れ中
    - else
      .content__option
        .content__option__like
          =link_to "#" do
            %i{class: "fa fa-star"}
              お気に入り 0
        - if user_signed_in? && current_user.id != @product.user_id
          .content__option__buy
            =link_to veri_product_path(@product.id) do
              %i{class: "buy-ss"}
                購入する
        .content__option__hata
          =link_to "#" do
            %i{class: "fa fa-flag"}
            不適切な商品の通報
    .content__comment
      = form_for '#' do |f|
        .content__comment__box
          = f.text_area :body, class: "content__comment__box__input"
          %p 相手のことを考え丁寧なコメントを心がけましょう。 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button{name:"button", type:"submit",class:"content__comment__box__btn"}
            %i{class:"fa fa-comment"}
            コメントする
    .content__move
      .content__move__befor
        =link_to '#' do
          %i{class: "fas fa-angle-left"}
          前のページ
      .content__move__next
        =link_to product_path(@product.id.next) do
          次のページ
          %i{class: "fas fa-angle-right"}
    .content__category-search
      =link_to "#" do
        = @product.category
        %span をもっと見る
= render 'users/footer'